/* Toggle button*/
.theme-checkbox {
  --toggle-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.7s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
  margin-top: -15px;
}

@media (min-width: 768px) {
  .theme-checkbox {
    margin-right: 40px;
    margin-top: -1px;
    --toggle-size: 10px;
    font-size: var(--toggle-size);
  }
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}


/* Dark Mode Styles */
.dark-mode {
  background-color: #3d3737;
  color: #efefef;
}


.dark-mode .navbar {
  background-color: #141414;
  color: #efefef;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

.dark-mode .Project-links a {
  color: #efefef;
}

.dark-mode .navbar-link {
  color: #efefef;
}

.dark-mode .navbar-link:hover {
  color: #cfcfcf;
}

.dark-mode .menu-icon {
  color: #efefef;
}

.dark-mode .navbar-logo {
  color: #efefef;
}

.dark-mode .item-name h1 {
  color: white;
}

.dark-mode .About {
  border: 1px solid white;
  background-color: #1d1818;
}

.dark-mode .Project {
  border: 1px solid white;
  background-color: #1d1818;
}

.dark-mode form {
  background-color: #252424;
}

.dark-mode label {
  color: white;
}

.dark-mode h2 {
  color: white;
}

.dark-mode .carousel-caption {
  color: white;
}

@media (max-width: 768px) {
  .dark-mode .navbar-links {
    background-color: #141414;
    color: #efefef;
  }

  .dark-mode .navbar-links.open {
    background-color: #141414;
    color: #efefef;
  }
}



body {
  background-color: #ececec;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: max-content;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icons {
  margin-right: 10px;
}

/* Navbar Container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 0px 10px 20px;
  color: black;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-family: serif;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  transition: transform 0.3s ease;
}

.navbar-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.2s ease;
  margin: 0 10px 0 10px;
  font-family: serif;
}

.navbar-link:hover {
  color: rgb(39, 38, 38);
  text-decoration: underline;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.navbar-link:active {
  color: black;
}

.menu-icon {
  color: black;
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 25px 45px 25px 0;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 80%;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  .navbar-links.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }

  .navbar-link {
    padding: 0.5rem 0;
    font-size: 1.7rem;
  }

  .navbar-link:hover {
    color: rgb(39, 38, 38);
    text-decoration: none;
  }

  li {
    padding: 15px;
  }

  .toast-container {
    text-align: left;
  }

}

div h2 {
  margin: 100px 0 15px 20px;
  font-family: serif;
  font-size: 45px;
}

footer {
  bottom: 0;
  width: 100%;
  background: #040B44;
  color: white;
  padding: 1px;
}

footer h4 {
  margin-bottom: -20px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

footer h4 {
  font-size: 25px;
  margin-top: 10px;
}

.footer-text {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.Social:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.2s;
}

div .Social:hover {
  cursor: pointer;
}

div .Social {
  padding: 15px;
}

@media (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin-top: 120px;
  }

  .footer-text {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }

  footer h4 {
    margin-bottom: -15px;
    font-size: 20px;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #040B44;
    color: white;
    padding: 1px;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}